.card {
    margin-top: 2rem;
  }
  
  .card-title {
    font-size: 2rem;
  }
  
  .card-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .table th {
    width: 50%;
    font-weight: normal;
  }
  
  .table td {
    font-weight: bold;
  }